.subtitle {
  font-size: 18px;
  font-weight: 400;
  flex: 1;
  margin-left: 5px;
}

.description {
  font-size: 14px;
  padding-bottom: 5px;
  font-weight: 200;
  margin-bottom: 20px;
  margin-left: 31px;
}
