.description {
  white-space: pre-wrap;
  text-align: left;
  font-size: 15px;
  color: #384347;
}

.subtitle {
  font-size: 21px;
  color: rgb(0, 140, 255);
  flex: 1;
}

.dates {
  font-size: 14px;
  color: #384347;
}

.job {
  color: #384347;
  font-style: italic;
  font-size: 14px;
  line-height: 21px;
  flex: 1;
}

.location {
  font-size: 14px;
  line-height: 17px;
  color: #384347;
}
