<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.linkedin.com/in/miguel-a-rozalen-soriano-560408126" target="_blank">Linkedin</a></li>
                    <li><a  href="https://github.com/MiguelRozalen" target="_blank">Github</a></li>
                    <li><a href="https://www.creative-tim.com/license" target="_blank">Licenses</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{date | date: 'yyyy'}}, made with <a style="color:#f5593d" href="https://www.creative-tim.com/product/paper-kit-2-angular" target="_blank">Paper Kit 2 Angular</a> by Miguel Á. Rozalén
                </span>
            </div>
        </div>
    </div>
</footer>
